body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #CCFFFF;
}

h1{
    font-size: 14px;
    font-variant: small-caps;
    color: #FF0000;
    background-color: #00FF00;
}