body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #CCFFFF;
}

h1{
    font-size: 14px;
    font-variant: small-caps;
    color: #FF0000;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

p::first-letter{
    font-size: 200%;
}

.income { background-color: #CCCCCC; }
.expenses { background-color: #FF0000; }
.profit { background-color: #FFFF00; }

#budgetsummary{
    background-color: #FFFFFF;
    border: dotted;
    padding: 20px;
    width: 500px;
    position: absolute;
    bottom: 0px;
    top: 0px;
    z-index: 1;
}